@keyframes appliedFlash {
    0%  { 
        outline: none;
    }
    25%  { 
        z-index: 40;
        outline: 2px solid #fbf8b2 ;
    }
    50%  { 
        outline: none;
    }
    75%  { 
        z-index: 40;
        outline: 2px solid #fbf8b2 ;
    }
    100% { 
        outline: none;
    }
}

@keyframes hit{
    0% {transform: translate(10px, 10px)}
    25% {transform: translate(-10px, -10px)}
    50% {transform: translate(10px, 10px)}
    75% {transform: translate(-10px, -10px)}
    100%{transform: translate(10px, 10px)}
}
@keyframes shieldhit{ /* not working? */
    50% {transform: translate(-10px, -10px)}
    100%{transform: translate(10px, 10px)}
}

@keyframes raiseShield{
    0% {
        transform: scale(2);
        left: -10%;
        top: 110%;
    }

    100% {
        transform: scale(3);
        left: 25%;
        top: 20%;
    }
}

@keyframes lowerShield{
    0% {
        transform: scale(3);
        left: 25%;
        top: 20%;
    }

    100% {
        transform: scale(2);
        left: -10%;
        top: 110%;
    }
}
/* For the game backgrounds */
@keyframes floatRight {
    100%{
        margin-left: -60%
    }
}
@keyframes upScroll{
    0% {
        color: teal;
        margin-top: 50%;
    }
    100% {
        color: crimson;
        margin-top: -90%;
    }
}