.infiniteAlternateReverse {
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.singleAnim {
    animation-iteration-count: 1;
}
.fillModeForwards {
    animation-fill-mode: forwards !important;
}
.extraTarget {
    z-index: 0;
}
