.infiniteAlternate {
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fillModeForwards {
 /*   animation-iteration-count: 1;*/
    animation-fill-mode: forwards !important;
}

@keyframes scaleTo_p2 { 100% { transform: scale(0.2); } }
@keyframes scaleTo_p4 { 100% { transform: scale(0.4); } }
@keyframes scaleTo_p6 { 100% { transform: scale(0.6); } }
@keyframes scaleTo_p8 { 100% { transform: scale(0.8); } }
@keyframes scaleTo_1  { 100% { transform: scale(1); } }
@keyframes scaleTo_1p2{ 100% { transform: scale(1.2); } }
@keyframes scaleTo_1p4{ 100% { transform: scale(1.4); } }
@keyframes scaleTo_1p6{ 100% { transform: scale(1.6); } }
@keyframes scaleTo_1p8{ 100% { transform: scale(1.8); } }
@keyframes scaleTo_2  { 100% { transform: scale(2); } }
@keyframes scaleTo_3  { 100% { transform: scale(3); } }

@keyframes fleeLeft { 100% { left: -20%; }}
@keyframes leftTo_0 { 100% { left: 0%; }}
@keyframes leftTo_10 { 100% { left: 10%; }}
@keyframes leftTo_20 { 100% { left: 20%; }}
@keyframes leftTo_60 { 100% { left: 60%; }}
@keyframes leftTo_70 { 100% { left: 70%; }}
@keyframes leftTo_80 { 100% { left: 80%; }}
@keyframes leftTo_90 { 100% { left: 90%; }}

@keyframes topTo_60 { 100% { top: 60%; }}

@keyframes move12 {

    50% {
        transform: scale(1.6);
        top: 60%;
        left: 0%;
    }
}

@keyframes move9 {
    50% {
        transform: scale(3);
        top: 60%;
        left: 70%;
    }
}